{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="grid">
    <aside>
      <div class="sidebar-container">
	<div class="forum-container" >
	  <div class="personal-info">
	    <img class="round-circle dashboard-round-image" src="{{ user.profile.image.url }}" >
	    <h3 class="user-info" >{{user.username}}</h3>
	  </div>

	</div>

	<div class="logo-dash-container">
	  <div class="logo-container">
	    <img class="principal-logo" src="{% static 'images/principal-logo.webp' %}">
	  </div>
	  <div class="logo-text">
	    <h1><span class="geo-text" >Geo</span>Tower<span class="api-text" >API</span></h1>
	  </div>
	</div>
      </div>



    </aside>


    <main>
      <div class="main-container">
	{% include 'snippets/flashes.html' %}
	<div class="topside">
	  <div class="personal-info">
	    <img class="round-circle dashboard-round-image" src="{{ user.profile.image.url }}" >
	    <h3 class="user-info" >{{user.username}}</h3>
	  </div>
	</div>

	<div class="dashboard-container">

	  <form class="form question-form" method="POST">
	    {% csrf_token %}
	    {{ form }}
	    <button class="global-btn" type="submit">Create</button>
	  </form>

	</div>
      </div>
    </main>
  </div>


  </div>
{% endblock %}

