{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
  {% include 'snippets/flashes.html' %}
    <div class="logo-small-container">
      <div class="logo-container">
	<img class="principal-logo-small" src="{% static 'images/principal-logo.webp' %}">
      </div>
      <div class="logo-text-small">
	<h1><span class="geo-text" >Geo</span>Tower<span class="api-text" >API</span></h1>
      </div>
    </div>

    <form class="form confirm-form" method="POST">
      {% csrf_token %}

      {% if form.non_field_errors %}
	<ul class="errorlist">
	    {% for error in form.non_field_errors %}
		<li>{{ error }}</li>
	    {% endfor %}
	</ul>
      {% endif %}

      <div class="form-group">
	{{ form.new_password1.label_tag }}
	{{ form.new_password1 }}
	{% if form.new_password1.errors %}
	  <div class="error">
	    {{ form.new_password1.errors }}
	  </div>
	{% endif %}
      </div>

      <div class="form-group">
	{{ form.new_password2.label_tag }}
	{{ form.new_password2 }}
	{% if form.new_password2.errors %}
	  <div class="error">
	    {{ form.new_password2.errors }}
	  </div>
	{% endif %}
      </div>
      <button class="global-btn" type="submit">Confirm</button>
    </form>

  </div>
{% endblock %}


